body{
    margin: 0;
    
}

.sakucon{
    position: fixed;
    top: -50px;   /*讓櫻花從螢幕之外出來 呈現自然感*/
    width: 12px;
    height: 12px;
    background-image: url(../picture/櫻花.svg);
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events:none;  /*禁止滑鼠事件干擾*/
    z-index: 1000;
    animation: fall linear infinite;  /*固定速率  次數無限飄落  */
    overflow: hidden;
}

@keyframes fall {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }

    50%{transform: translateY(50vh) rotate(180deg);
        opacity: 0.5;

    }

    100%{ transform: translateY(100vh) rotate(360deg);
        opacity: 0;

    }
    
}