main{
    font-size: 1rem;;
}



.maincontent{
    margin-top: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 160px;
    


}
.main_title{
    font-size: 1.3rem;
    color:#E86487;
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_title h1{
    margin: 0 20px;
}

.main_title .line{
    display: block;
    height: 2px;
    width: 80px;
    background-color: rgb(207, 17, 150);

}

.main_inputbox{
    padding: 20px;
    background-color: #FEEDED;
    display: flex;
    flex-direction: column;
    gap:50px;
    margin-bottom: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05); 
    border: color-mix(in srgb, #4A90E2 50%, #A7D3E0 50%) 1px solid;
}

.main_inputbox h2{
    font-size: 0.8rem;
    margin-bottom: 16px;
    margin-left: 10px;
    color: #B25A74;

}

.day_input,
.person_input {
    width: 350px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 1rem;
    border: color-mix(in srgb, #4A90E2 50%, #A7D3E0 50%) 1px solid;

    line-height: 20px;
}

input[type='date']::-webkit-calendar-picker-indicator{
    position: relative;  /* 開啟"可以自己調整位置"模式 */
    right: -7px;         /* 向右推 10px */
}

.place_input{
    width: 370px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 1rem;
    border: color-mix(in srgb, #4A90E2 50%, #A7D3E0 50%) 1px solid;
    line-height: 20px;
    padding: 10px;
    color: rgba(19, 1, 1, 0.919);
}


.ticket .ticket_label{
    height: 40px;
    background-color: white;
    border: color-mix(in srgb, #4A90E2 50%, #A7D3E0 50%) 1px solid;
    line-height: 40px;
    display: flex;
    justify-content: center;
    gap: 30px;
    border-radius: 10px;
}



.day_input::placeholder{
    color: #cccccc7b
}


.main_button{
    display: flex;
    justify-content: center;
    gap: 30px;
    }

.main_button button{
    border-radius: 15px;
    color: #ea215d;
    font-weight: bold;
    padding: 10px 10px;
    font-size: 1rem;
    background-color:color-mix(in srgb, #FFB2C1 50%, #FF6F91 50%);
    cursor: pointer;
    border: color-mix(in srgb, #4A90E2 50%, #A7D3E0 50%) 1px solid;
   
    
}

main h3{
    
    font-size: 2rem;
    color: #B25A74;
    font-weight: bold;
    padding: 10px;

}

.sub_title{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;

}



/*-----------------------------輪播DI----------------------*/

.main_trippic{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.splide__track{ 
    width: 100%;
    height: 100%;
    overflow: hidden;
    max-width: 1200px;
    
  
}

.splide__list{ 
   width: 100%;
   max-width: 1200px;
    
}

.splide__slide{
    width: 100%;
    max-width: 1200px;
    aspect-ratio: 12/3.5;
    display: flex;
    justify-content: center;
    align-items: center;
  
    
}

.splide__slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}