main{
    margin-bottom: 160px;
    font-size: 1rem;
  
}


.main_title{
    text-align: center;

}

.main_title h1{
    font-size: 2rem;
    color: color-mix(in srgb, #FFB2C1 50%, #FF6F91 50%);
    margin-bottom:20px;
    font-weight: bold;
}

.main_title h2{
    font-size: 1.5rem;
    color: color-mix(in srgb, #FFB2C1 50%, #FF6F91 50%);
    margin-bottom:20px;
    font-weight:400;

}

.main_title h3{
    color: color-mix(in srgb, #FFB2C1 50%, #FF6F91 50%);
    font-weight: 200;
    margin-bottom:120px;
    letter-spacing: 10px;

}

.main_text{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 80px;
}

.main_text input{
    width: 350px;
    height: 20px;
    border: color-mix(in srgb, #4A90E2 50%, #A7D3E0 50%) 1px solid;
    border-radius: 15px;
}

.main_text input:nth-child( 3 ){
    height: 300px;
    border-radius: 0px;
}

.main_text input::placeholder{
    padding-left: 10px;
    color: gray;
    opacity: 30%;
}

.main_text input:nth-child(3)::placeholder{
    text-align: center;
    padding: 10px;

}

.btn{
    margin-top: 80px;
    text-align: center;
}

button{
    margin: 0 auto;
    border: color-mix(in srgb, #4A90E2 50%, #A7D3E0 50%) 1px solid;
    border-radius: 15px;
    color: #B25A74;
    background-color: color-mix(in srgb, #FFB2C1 40%, #FFCCB2 30%);
    height: 30px;
    width: 65px;
    margin-bottom: 80px;
}

.btn :hover{
    color: #e70970;
    box-shadow: 25px;
}

#pointer{
    cursor: pointer;
}
.btn :active{
    transform: translateY(4px);
}