main{
    
    margin-top: 0 auto 160px ;
    line-height: 1.6;
    font-size: 16px;
    color: #54494B;
}
/*--------------------------------第一塊圖----------------------------------->*/
.main_pc1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto 160px;
    gap: 90px;
}

.main_pc1_text{
    text-align: center;
    margin-top:50px;
    max-width: 500px;
    width: 100%;
    height: auto;
}


.main_pc1_img{
    max-width: 500px;
    height: 350px;
    transition: transform 0.6s ease;
    
}
.main_pc1_img img{
    aspect-ratio: 5/3.5;
    width: 100%;
    height: auto;
}

.main_pc1_text h1{
    font-size: 2rem;
    margin-bottom: 15px;
    color: #E86487;
    border: #E86487 2px solid;
    box-shadow: 1px 1px 1px 1px #E86487;
 }

.main_pc1_text p{
    font-size: 1rem;
}

/*.main_pc1_img:hover{
    transform: scale(1.2);
    transition-delay: .2s;
}*/
/*--------------------------------第二塊圖----------------------------------->*/

.main_pc2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto 160px;
    gap: 90px;
}
.main_pc2_text{
    text-align: center;
    margin-top:10px;
    max-width: 500px;
    width: 100%;
    height: auto;
    order: 1;
}

.main_pc2_img{
    width: 100%;
    max-width: 500px;
}

.main_pc2_img img{
    aspect-ratio: 5/3;
    width: 100%;
    height: auto;
}

.main_pc2_text h1{
    font-size: 2rem;
    margin-bottom: 15px;
    color: #E86487;
     border: #E86487 2px solid;
    box-shadow: 1px 1px 1px 1px #E86487;
}

.main_pc2_text p{
    font-size: 1rem;
}

/*--------------------------------第三塊圖----------------------------------->*/

.main_pc3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto 160px;
    gap: 90px;
}

.main_pc3_text{
    text-align: center;
    margin-top: 20px;
    max-width: 500px;
    width: 100%;
    height: auto;
}

.main_pc3_img{
    width: 100%;
    max-width: 500px;
}

.main_pc3_img img{
    aspect-ratio: 5/3;
    width: 100%;
    height: auto;
}

.main_pc3_text h1{
    font-size: 2rem;
    margin-bottom: 15px;
    color: #E86487;
     border: #E86487 2px solid;
    box-shadow: 1px 1px 1px 1px #E86487;
}

.main_pc3_text p{
    font-size: 1rem;
}



/*--------------------------------第四塊圖----------------------------------->*/

.main_pc4{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto 160px;
    gap: 90px;
}

.main_pc4_text{
    text-align: center;
    max-width: 500px;
    width: 100%;
    height: auto;
    order: 1;
}

.main_pc4_img{
    width: 100%;
    max-width: 500px;
}

.main_pc4_img img{
    aspect-ratio: 5/3;
    width: 100%;
    height: auto;
}


.main_pc4_text h1{
    font-size: 2rem;
    margin-bottom: 15px;
    color: #E86487;
    border: #E86487 2px solid;
    box-shadow: 1px 1px 1px 1px #E86487;
}

.main_pc4_text p{
    font-size: 1rem;
}
/*-----------------------hovar-------------------*/
.main_theme-switch:hover{
    cursor: pointer;
    transform: translateY(-2px);
    
}

/*------------------------------RWD:430--------------------------*/
@media screen and (max-width:431px) 
{


.main_pc1_img:hover{
        transform: none
}

}
/*------------------------------RWD:1110--------------------------*/
@media screen and (max-width:1110px)
    {

    .main_pc1{
        max-width: 800px;
        padding: 20px;
        border: 10px rgba(227, 104, 32, 0.175) solid;
        box-sizing: border-box;
        background-color: #e8648759;
     
    }
    .main_pc2{
        max-width: 800px;
        padding: 20px;
        border: 10px rgba(227, 104, 32, 0.175) solid;
         box-sizing: border-box;
         background-color: #e8648759;
    }

    .main_pc3{
        max-width: 800px;
        padding: 20px;
        border: 10px rgba(227, 104, 32, 0.175) solid;
         box-sizing: border-box;
         background-color: #e8648759;
    }

    .main_pc4{
        max-width: 800px;
        padding: 20px;
        border: 10px rgba(227, 104, 32, 0.175) solid;
         box-sizing: border-box;
         background-color: #e8648759;
    }

    .main_pc2_img img{
        
        width: 100%;
    }
    
    
}

/*---------------------------Rwd:860----------------------*/
@media screen and (max-width:860px) {
    .main_pc4{
       width: 100%;
        
    }
    .main_pc1{
        gap:40px;
        
    }
        
}
