
header{
    display: flex;
    flex-direction: column;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main_content{
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 160px;

}

.main_side{
   
    margin-top: 40px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFEEF4;
}


.main_title{
    margin-top:20px;
    
    
}

.main_side{
    padding: 10px;
 
}

.main_side h1{
 margin-bottom: 20px;
 color: #B25A74;
 font-weight: bold;
 text-align: center;

        
}

.main_side input{
    line-height: 1.6;
    border: color-mix(in srgb, #4A90E2 50%, #A7D3E0 50%) 1px solid;
    width: 260px;
    border-radius: 5px  ;
}

/*------------------會員---------------*/
.member_box{
    margin-top: 40px;
    width: 260px;

}
   

.member_box h2 {
    margin-bottom: 10px;
    
}
.member_p{
       
        width: 110px;
        border-radius: 10px;
        font-size: 12px;
        text-align: center;
        background-color: #F76790;
        color: white ;
        padding: 4px;
        margin-bottom: 5px;
}

.member_content{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    background-color: white;
    }

.member_p_p {
     font-size: 12px;
     color: #B25A74;
     margin-bottom: 5px;
     display: flex;
     flex-direction: column;
     gap: 5px;
     
     
}

.member_content img{
    margin-top: 10px;
}



/*--------------aside nav---------------------*/
.fa-chevron{
    height: 50px;
    width: 100%;
    font-size: 40px;
    display: none;
}

.fa-arrow-alt-circle-left:before, .fa-circle-left:before{
    display: none;
}

.box_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  
}

.main_side{
   
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.aside_nav{

    width: 260px;
    margin-top: 35px;
}

.aside_nav h2{
    margin-bottom: 5px;
}

.aside_nav li{
    border: color-mix(in srgb, #4A90E2 50%, #A7D3E0 50%) 1px solid;
    text-align: center;
    margin-bottom: 16px;
    border-radius: 5px;
    
    line-height: 1.6;
    background-color: white;
    color: #B25A74;
}
.aside_nav li:hover{
    color: #FFB2C1;
    cursor: pointer;
}


/*----------------tag--------------*/

.aside_tag{
    width: 260px;
    margin-bottom: 40px;}
.tag_p{
    margin-top: 5px;
    display: flex;

    gap: 16px;

}
.tag_p p{
    border: color-mix(in srgb, #4A90E2 50%, #A7D3E0 50%) 1px solid;
    border-radius: 15px;
    padding: 5px;
    background-color: white;
    color: #B25A74;
}

    

/*---------------asidefooter-------------*/
.aside_foorer{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 40px;
}

.aside_foorer input{
    border: color-mix(in srgb, #E6F4FF 50%, #FCEFF5 50%) 1px solid;
    border-radius: 5px;
    margin-top: 5px;
}

/*-------------------main-----------------*/

.main_carbox.active{
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    align-items: stretch;
    gap: 60px ;
    margin-top: 40px;
    flex-wrap: wrap;
    
    
}
.main_carbox{
 display: none; 
}


.card_content{
    background: linear-gradient(to bottom right, #ffeaf4, #ffffff);
    border: 1px solid #ffd6e9;
    box-shadow: 0px 5px 5px 0px gray;  
    max-width: 450px;
    max-height: auto;
    width: 100%;
    position: relative;
    overflow:hidden

}

.card_img{
    aspect-ratio: 4/3;
    text-align: center;
    margin-top: 20px;
    


}
.main_carbox img{
    aspect-ratio: 4/3;  
     max-width: 400px;
   
}

.card_title{
     padding: 0 20px;
     margin-bottom: 10px;
     font-size: 18px;
     color: #E71755;
     font-weight: bold;
}
 
.card_p{
    padding: 0 20px;
    line-height: 1.6;
    
}

.carbox_tag{
    margin-top: 12px;
     padding: 0 20px;
     display: flex;
     gap: 5px;
}

.carbox_tag p{
     color: #B25A74;
}

.card_content form{
    padding: 10px;
   
}

.message_board{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    border-radius: 5px;
    
    
}

.message_board textarea{
    resize: vertical; 
    border-radius: 10px;
    

    
}

form button{
    background-color: color-mix(in srgb, #FFB2C1 50%, #FF6F91 30%);
    color:#eb1354e6;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    font-size: 10px;
}

.message_member li{
    display: flex;
    align-items: center;
    border-bottom: 1px solid gray;
}

.message_member li span{
    font-weight: bold;
}

.message_member {
padding: 10px;
font-size: 12px;
}
.message_member li a{
    margin-top: 5px;
    text-decoration: none;
    }
.message_member li:nth-child(3){
     border-bottom:none;

}

/*------------------------------RWD:551--------------------------*/
@media screen and (max-width:551px) 

{   
    
    .main_side{
        
        display: none;
        position: absolute;
        top: 50%;
        left: 0;
        z-index:9999  !important;
    }

    .fa-chevron{
    display: block;
    color: #B25A74;
    transition: transform 1.5s ease;
    transform: rotate(0deg);

    }

    .fa-chevron.right{
    transform: rotate(180deg);
   
    }   

    
    .main_content{
        
        z-index: 999;
    }

    .card_content{
        border: 10px solid plum;
        padding: 20px;
        box-sizing: border-box;
    }

    .main_carbox img{
        width: 100%;
        margin-bottom: 10px;
    }

    .aside_nav ul{
        padding: 10px;
    }
    .member_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }

    .member_content{
        
          width: 90%;
    }

    .aside_foorer input{
        width: 100%;
    }

    .aside_foorer{
        width: 90%;
    }

}

    /*------------------------------RWD:820--------------------------*/
    @media screen and (max-width:820px) 

    {   .box_box{width: 100%;

    }
        .main_side{
           
            width: 250px; 
           
        }
        .main_content{
            max-width: 100%;
            width: 100vw ;
            padding-left: 0; /* 確保沒有左側padding */
            margin-left: 0;  /* 確保沒有左側margin */
       

    }
        .main_carbox.active{
            
            max-width: none;
            flex-wrap: nowrap;
            overflow-x: auto;
            scroll-snap-type: x mandatory;
            gap:  30px;
            padding: 0 20px 0 20px;
            width:100%;
            min-width: 0 ;
            flex: 1;
            scroll-padding-left: 20px; 
            
        
        }
        .card_content:first-child {
            margin-left: 500px; /* 第一張卡片往右偏移500px */
            }

        .card_content{
            flex-grow: 0;
            flex-shrink: 0;
            padding: 20px;
            scroll-snap-align: start;
            max-width: 100%;
            box-sizing: border-box;
            width: 100%
        }

        .main_carbox img{
            max-width: 350px;
            width: 100%
        }

}
/*------------------------------RWD:600--------------------------*/
    @media screen and (max-width:601px) 
    {   .main_carbox.active{
        flex-direction: column;}

        .main_carbox.active{
             flex-wrap: wrap;   
            max-width: none;
            overflow-x:  visible !important;
            scroll-snap-type: none;
            gap:  30px;
            padding: 0 20px 0 20px;
            width:100%;
           
        
        }

        .card_content{
            width: 100%;
             scroll-snap-align: none;
        }

        .card_content:first-child {
            margin-left: 0px; /* 第一張卡片往右偏移500px */
            }

}
/*-----------------RWD:1375-------------------------*/

@media screen and (max-width:1375px) 
    {
        .main_side{
            height: 800px;

        }
     }
